<h2 class="ui header">Add a student</h2>
<form {{action 'create' on='submit'}} class="ui form{{if errorMessage " error"}}">
  <div class="fields">
    <div class="field">
      {{field-input inputId='firstName' inputValue=model.student.firstName
        placeholder='First name'
        errorMessage=model.student.validations.attrs.firstName.message
        isInvalid=(and didValidate (v-get model.student 'firstName' 'isInvalid'))}}
    </div>
    <div class="field">
      {{field-input inputId='lastName' inputValue=model.student.lastName
        placeholder='Last name'
        errorMessage=model.student.validations.attrs.lastName.message
        isInvalid=(and didValidate (v-get model.student 'lastName' 'isInvalid'))}}
    </div>
  </div>
  <div class="fields">
    <div class="field">
      <label>Applying for</label>
      {{#x-select class='ui dropdown' action='selectSemester' as |xs|}}
        {{#each model.semesters as |semester|}}
          {{#xs.option value=semester}}{{humanize-semester semester}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>

  {{#if errorMessage}}
    <div class="ui error message">{{errorMessage}}</div>
  {{/if}}
  <button type="submit" class="ui large red submit button">Add student</button>
</form>
