<h2 class="ui header">Add a student</h2>
<form {{action 'create' on='submit'}} class="ui form{{if errorMessage " error"}}">
  <div class="fields">
    <div class="field">
      {{field-input inputId='firstName' inputValue=model.firstName
        placeholder='First name'
        errorMessage=model.validations.attrs.firstName.message
        isInvalid=(and didValidate (v-get model 'firstName' 'isInvalid'))}}
    </div>
    <div class="field">
      {{field-input inputId='lastName' inputValue=model.lastName
        placeholder='Last name'
        errorMessage=model.validations.attrs.lastName.message
        isInvalid=(and didValidate (v-get model 'lastName' 'isInvalid'))}}
    </div>
  </div>
  <div class="fields">
    <div class="two wide field">
      {{field-input inputId='classYear' inputValue=model.classYear
        placeholder='Class year'
        errorMessage=model.validations.attrs.classYear.message
        isInvalid=(and didValidate (v-get model 'classYear' 'isInvalid'))}}
    </div>
  </div>

  {{#if errorMessage}}
    <div class="ui error message">{{errorMessage}}</div>
  {{/if}}
  <button type="submit" class="ui large red submit button">Add student</button>
</form>
