<div class="ui stackable grid">
  <div class="{{if schools 'fourteen' 'ten'}} wide column">
    <p>Applying for <strong>{{humanize-semester model.matriculationSemester}}</strong></p>
    {{#if schools}}
      <table class="ui selectable orange table">
        <thead>
          <tr>
            <th class="seven wide">Schools</th>
            <th class="eight wide"></th>
            <th class="one wide"></th>
          </tr>
        </thead>
        <tbody>
          {{#each schools as |school|}}
            <tr>
              <td>{{school.name}}</td>
              <td class="right aligned">
                {{#each school.milestones as |milestone|}}
                  {{milestone-label milestone=milestone}}
                {{else}}
                  <span data-tooltip="We are reviewing dates for this school currently." data-inverted="">
                    <i class="blue info icon"></i>
                  </span>
                {{/each}}
              </td>
              <td><a href="#"><i class="content icon"></i></a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <div class="ui icon info message">
        <i class="university icon"></i>
        <div class="content">
          {{model.firstName}} has no schools yet.
          Search for the first one by clicking the <i>Find school</i> button below.
        </div>
      </div>
    {{/if}}
    {{#link-to 'dashboard.student.find-school' model class="ui large orange button"}}Find school{{/link-to}}
  </div>
</div>
