<div class="ui middle aligned centered stackable grid">
  <div class="row">
    <div class="eight wide center aligned column">
      <h2 class="ui blue image header">
        You&rsquo;re seconds away from automatically tracking your students&rsquo; most critical dates.</h2>
    </div>
  </div>
  <div class="row">
    <div class="six wide column">
      <form {{action 'authenticate' on='submit'}} class="ui large form error">
        <div class="ui stacked segment">
          <div class="field">
            <label for='username'>Username</label>
            {{field-input inputId='username' inputValue=model.username
              icon='user' placeholder='Enter username'
              errorMessage=(v-get model 'username' 'message')
              formValidated=didValidate
              isInvalid=(v-get model 'username' 'isInvalid')}}
          </div>

          <div class="field">
            <label for='email'>Email</label>
            {{field-input inputId='email' inputValue=model.email
              icon='mail' placeholder='Enter email' inputType='email'
              errorMessage=(v-get model 'email' 'message')
              formValidated=didValidate
              isInvalid=(v-get model 'email' 'isInvalid')}}
          </div>

          <div class="field">
            <label for='password'>Password</label>
            {{field-input inputId='password' inputValue=model.password
              icon='lock' placeholder='Enter password' inputType='password'
              errorMessage=model.validations.attrs.password.message
              isInvalid=(and didValidate (v-get model 'password' 'isInvalid'))}}
          </div>

          {{billing-info}}

          {{#if errorMessage}}
            <div class="ui error message">{{errorMessage}}</div>
          {{/if}}
          <button type="submit" class="ui fluid large green submit button">Start Free Trial</button>
        </div>
      </form>
    </div>
    <div class="three wide column">
      <h5>Free for 14 days</h5>
      <p>You have unrestricted and free access for the next 14 days.</p>
      <hr>
      <h5>Safe and secure</h5>
      <p>We use bank-grade SSL security for your web browser.
         Additionally, your data is backed up safely every hour.
      </p>
      <hr>
      <h5>About billing</h5>
      <p>You will not be charged now. TODO: add some copy about when membership starts and the cost. TODO: add copy about not storing card data.</p>
      <p><a href="#" data-tooltip="

  We ask for your credit card to allow your membership to continue after your free trial, should you choose not to cancel. This also allows us to reduce fraud and prevent multiple free trials for one person. This helps us deliver service for all the honest customers.

  Your credit card not be charged at any point of your free trial. You can cancel anytime.

  We’ll even send you an email three days before your trial is over to remind you it’s about to expire.
  ">Why do we ask?</a></p>
    </div>
  </div>
</div>
