<div class="ui large inverted top attached stackable menu">
  <div class="ui container">
    {{#link-to 'index' class="active red item" activeClass=""}}College Conductor{{/link-to}}
    <div class="right menu">
      {{#if session.isAuthenticated}}
        <div class="item">
          {{#link-to 'dashboard.index' class="ui inverted button" activeClass=""}}Dashboard{{/link-to}}
        </div>
        <div class="item">
          <a {{action 'invalidateSession'}} class="ui inverted button">Logout</a>
        </div>
      {{else}}
        <div class="item">
          {{#link-to 'login' class="ui inverted button"}}Login{{/link-to}}
        </div>
        <div class="item">
          {{#link-to 'signup' class="ui yellow button"}}Sign Up{{/link-to}}
        </div>
      {{/if}}
    </div>
  </div>
</div>

{{outlet 'postHeader'}}

<div class="ui attached padded segment application-container">
  <div class="ui stackable grid">
    <div class="row">
      <div class="eight wide centered column">
        {{#each flashMessages.queue as |flash|}}
          {{#flash-message flash=flash as |component flash|}}
            {{#if (eq flash.type "success")}}
              <div class="ui positive message">
                {{flash.message}}
              </div>
            {{else}}
              <div class="ui negative message">
                {{flash.message}}
              </div>
            {{/if}}
          {{/flash-message}}
        {{/each}}
      </div>
    </div>
    <div class="row">
      <div class="center column">
        {{outlet}}
      </div>
    </div>
  </div>
</div>

<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui horizontal inverted small divided link list">
      {{#link-to 'contact' class="item"}}Contact{{/link-to}}
      {{#link-to 'terms' class="item"}}Terms{{/link-to}}
      {{#link-to 'privacy' class="item"}}Privacy{{/link-to}}
    </div>
  </div>
</div>
