<div class="ui middle aligned centered stackable grid">
  <div class="six wide column">
    <h2 class="ui blue image header">Login to your account</h2>
    <form {{action 'authenticate' on='submit'}} class="ui large form{{if errorMessage " error"}}">
      <div class="ui stacked segment">
        {{field-input inputId='username' inputValue=model.username
          icon='user' placeholder='Username'
          errorMessage=model.validations.attrs.username.message
          isInvalid=(and didValidate (v-get model 'username' 'isInvalid'))}}

        {{field-input inputId='password' inputValue=model.password
          icon='lock' placeholder='Password' inputType='password'
          errorMessage=model.validations.attrs.password.message
          isInvalid=(and didValidate (v-get model 'password' 'isInvalid'))}}

        {{#if errorMessage}}
          <div class="ui error message">{{errorMessage}}</div>
        {{/if}}
        <button type="submit" class="ui fluid large orange submit button">Login</button>
      </div>
    </form>
  </div>
</div>
